@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow: hidden;
}
 
/* Firefox */
.chatbot-container {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  .chatbot-container::-webkit-scrollbar {
    width: 15px;
  }
  
  .chatbot-container::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  .chatbot-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  /* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  .loader {
    width: 38px;
    height: 38px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 